.fuente1{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
}

.fuente2{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
}

.fuente3{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
}

.fuente4{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
}

.logo{
    position: fixed;
    right: 20px;
    bottom: 10px;
}